:root{
    --aside-color: #051e34;
}

header{
    height: 50px;
}

#header-icon-list i{
    color: var(--bs-gray-700);
}

#header-icon-list i:last-of-type{
    color: var(--bs-warning);
}

.logo-mini{
    width: 40px;
}

main{
    height: calc(100vh - 50px);
}

aside{
    background-color: var(--aside-color);
}

aside i {
    width: 18px;
}

.main-top{
    background-color: #1b72e8;
}