:root{
    --aside-color: #051e34;
}

header{
    height: 55px;
    z-index: 10;
}

.main-part{
    overflow: auto;
}

#header-icon-list i{
    color: var(--bs-gray-700);
}

#header-icon-list i:last-of-type{
    color: var(--bs-warning);
}

.my-form{
    background-color: var(--bs-gray-200);
}

.my-form::placeholder{
    font-family: var(--bs-body-font-family), FontAwesome;
    font-size: smaller;
}

.logo-mini{
    width: 40px;
}

main{
    height: calc(100vh - 55px);
}

aside{
    background-color: var(--aside-color);
    background-image: url('../img/sidebar-bg.png');
}

aside i {
    width: 18px;
}

.main-top{
    background-color: #1b72e8;
}

span.badge{
    font-size: 12px;
    font-weight: 400;
    background-color: rgba(5, 30, 52, 0.25);
}

table{
    font-size: 12px;
}

.intestazione-tab{
    font-size: 0.8rem;
}

.avatarimg{
    width: 20px;
}

table span.badge{
    font-weight: 500;
    font-size: 0.7rem;
}

i.fa-pencil,
i.fa-trash{
    color: var(--bs-gray-600);
    border: 1.5px solid;
    border-color: var(--bs-gray-600);
}